---
layout: index
---
<div class="container-fluid flush-with-header">
  <div class="row margin-bottom-40 row-corporate bg-light-1">
    <div class="container">
      <div class="col-xs-8 col-sm-6 row-corporate-text-container">
	<div class="row-corporate-text">
	  <h1>We are here to help you<b class="require"> fire it up</b>!</h1>
	  <h4 class="wow fadeIn">Our goal is to help you deliver and create the software solution that you want. We bring a great
		attitude and we don't take ourselves to seriously, but we always deliver a quality solution.</h4>
	</div>
      </div>
      <div class="col-xs-4 col-sm-6">
	<img src="/metronic/assets/pages/img/frontend-slider/ipadmini.png">
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row service-box margin-bottom-40">
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-location-arrow blue wow rollIn"></i></em>
	  <span>.NET Focus</span>
	</div>
	<p>Our focus is on .NET techonologies, but we can and do use any good language.</p>
	  <img class="img-responsive"
	  src="/net-language-choice.png">
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-check red wow rollIn"></i></em>
	  <span>Azure Cloud Services</span>
	</div>
	<p>We specialize in providing Azure solutions from web applications to infrastrucutre. We even have an Azure SQL expert.</p>
	  <img class="img-responsive"
	  src="/azure.png">
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-compress green wow rollIn"></i></em>
	  <span>Place holder</span>
	</div>
	<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
	  <img class="img-responsive"
	  src="/asset1.jpg">
      </div>
    </div>
    </div>



